<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123934579832-6cj30i3u4qc3pp6qhbge9btrdiq4qr1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123934579832-6cj30i3u4qc3pp6qhbge9btrdiq4qr1u</string>
	<key>API_KEY</key>
	<string>AIzaSyA_S8hepDkwOBid_QCoLOsu6nOUCEBXMSg</string>
	<key>GCM_SENDER_ID</key>
	<string>123934579832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterOptipetsWebapp</string>
	<key>PROJECT_ID</key>
	<string>optipets</string>
	<key>STORAGE_BUCKET</key>
	<string>optipets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123934579832:ios:956bd04391ce3879e7218d</string>
</dict>
</plist>